# Ignore everything
*

# Allow folders
!*/

# Allow .c and .h files
!*.[ch]

# Allow Makefiles
!Makefile

# Ignore macOS directory metadata
**/.DS_Store


# TODO: REMOVE THE ONES BELOW BEFORE EVAL!

# Allow containing own .gitignore
!.gitignore

# Allow PDF with instructions
!subject.pdf

# Debug settings
!.vscode/launch.json
!.vscode/tasks.json
